<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Odd Networks{{subtitle}}</title>
	<!--
		____      _     _   _   _      _                      _
	 / __ \    | |   | | | \ | |    | |                    | |
	| |  | | __| | __| | |  \| | ___| |___      _____  _ __| | _____
	| |  | |/ _` |/ _` | | . ` |/ _ \ __\ \ /\ / / _ \| '__| |/ / __|
	| |__| | (_| | (_| | | |\  |  __/ |_ \ V  V / (_) | |  |   <\__ \
	 \____/ \__,_|\__,_| |_| \_|\___|\__| \_/\_/ \___/|_|  |_|\_\___/
	Odd Networks, Inc.
	-->
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="copyright" content="Copyright 2016 - Odd Networks Inc. All rights reserved.">
	<meta name="keywords" content="ott platform, ott, apple tv, firetv, roku, xbox one, tvos, streaming video, ios, android, video, vod, avod, tvod, svod">
	<link rel="author" href="/humans.txt">

	<meta name="google-site-verification" content="{{googleSiteVerification}}">

	<link rel="icon" type="image/png" href="http://oddnetworks.com/assets/img/favicon.png" />

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '206978703034915');
	fbq('track', "PageView");
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=206978703034915&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

	{{> google_analytics}}

	<link rel="stylesheet" href="/assets/css/main.css">

	{{! Open Graph }}
	{{! Facebook }}
	{{! Google }}
	<meta property="og:description" content="Launch your own branded streaming service for Roku, Apple TV, FireTV, and mobile.">
	<meta property="og:title" content="Odd Networks{{subtitle}}">
	<meta property="og:image" content="//www.oddnetworks.com/assets/img/share.png">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.oddnetworks.com/" />
	<meta property="og:site_name" content="Odd Networks">
	<meta property="og:locale" content="en_US" />

	{{! Twitter }}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@oddnetworks">
	<meta name="twitter:description" content="Launch your own branded streaming service for Roku, Apple TV, FireTV, and mobile.">
	<meta name="twitter:domain" content="https://www.oddnetworks.com/">
	<meta name="twitter:image" content="//www.oddnetworks.com/assets/img/share.png">
	<meta name="twitter:site" content="@oddnetworks">
	<meta name="twitter:title" content="Odd Networks{{subtitle}}">
</head>
<body>
