<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{title}}</title>
	<!--
		____      _     _   _   _      _                      _
	 / __ \    | |   | | | \ | |    | |                    | |
	| |  | | __| | __| | |  \| | ___| |___      _____  _ __| | _____
	| |  | |/ _` |/ _` | | . ` |/ _ \ __\ \ /\ / / _ \| '__| |/ / __|
	| |__| | (_| | (_| | | |\  |  __/ |_ \ V  V / (_) | |  |   <\__ \
	 \____/ \__,_|\__,_| |_| \_|\___|\__| \_/\_/ \___/|_|  |_|\_\___/
	Odd Networks, Inc.
	-->
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="copyright" content="Copyright {{year}} - Odd Networks Inc. All rights reserved.">
	<meta name="keywords" content="ott platform, ott, apple tv, firetv, roku, xbox one, tvos, streaming video, ios, android, video, vod, avod, tvod, svod">
	<link rel="author" href="/humans.txt">

	<meta name="google-site-verification" content="{{googleSiteVerification}}">
	<link rel="stylesheet" href="{{stylesheet}}">

	{{! Open Graph }}
	{{! Facebook }}
	{{! Google }}
	<meta property="og:description" content="{{description}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:image" content="//www.oddnetworks.com/assets/img/share.png">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.oddnetworks.com/" />
	<meta property="og:site_name" content="Odd Networks">
	<meta property="og:locale" content="en_US" />

	{{! Twitter }}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@oddnetworks">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:domain" content="https://www.oddnetworks.com/">
	<meta name="twitter:image" content="//www.oddnetworks.com/assets/img/share.png">
	<meta name="twitter:site" content="@oddnetworks">
	<meta name="twitter:title" content="{{title}}">

</head>
<body class="{{bodyClass}} scroll-top">
