{{> head}}
	{{> header}}
	<section class="contact-form">
		<header class="contact-form__hero">
			<h2 class="contact-form__header">
				Go ahead.<br>Make an inquiry.
			</h2>
		</header>
		<form class="form contact-form__form" accept-charset="UTF-8" autocomplete="off" method="POST">
			{{#if formErrors}}
			<p class="form__error">
				<strong>There was an error submitting your form:</strong>
				{{#each formErrors}}
				<br><span class="error">{{message}}</span>
				{{/each}}
			</p>
			{{/if}}

			<!-- Email -->
			<div class="form__field">
				<label class="form__label" for="email">Email <span class="form__req">*</span></label>
				<input class="form__text-input"
					id="email" name="email" type="email"
					spellcheck="false" size="28" maxlength="255"
					value="{{form.email}}"></input>
			</div>

			<!-- Comments -->
			<div class="form__field">
				<label class="form__label" for="inquiry">
				Give us a hint. Leave a comment.
				</label>
				<textarea
					id="inquiry" name="inquiry"
					spellcheck="true" rows="3" cols="50">{{form.inquiry}}</textarea>
			</div>

			<!-- Name: First, Last -->
			<div class="form__field">
				<div class="form__subfield">
					<label class="form__label" for="first_name">Name</label>
					<input class="form__text-input"
						id="first_name" name="first_name"
						size="28" maxlength="255"
						value="{{form.firstName}}"></input>
					<label class="form__label form__label--subfield" for="first_name">First <span class="form__req">*</span></label>
				</div>
				<div class="form__subfield">
					<input class="form__text-input"
						id="last_name" name="last_name"
						size="28" maxlength="255"
						value="{{form.lastName}}"></input>
					<label class="form__label form__label--subfield" for="last_name">Last</label>
				</div>
			</div>

			<!-- Buttons -->
			<p class="form__buttons">
				<input id="save_contact_form" name="save_contact_form" class="form__button button" type="submit" value="Submit">
			</p>
		</form>
	</section>
	{{> footer}}
{{> foot}}
