{{> head}}
	<article class="future-of-tv">
	{{> landing_page_header}}
	<section class="constrained contact-form">
		<header class="contact-form__header">
			<h1 class="headline-font headline-font--h1">
				<span class="highlight">Request early access.</span>
			</h1>
			<p class="headline-font headline-font--h3">
			You'll have our email address.<br>Ask us anything.
			</p>
			{{#if formError}}
			<p class="contact-form__error">
				<strong>There was an error submitting your form:</strong><br>
				{{formError}}
			</p>
			{{/if}}
		</header>
		<form class="form contact-form__form" accept-charset="UTF-8" autocomplete="off" method="POST">

			<!-- Email -->
			<div class="form__field">
				<label class="form__label" for="email">Email <span class="form__req">*</span></label>
				<input class="form__text-input"
					id="email" name="email" type="email"
					spellcheck="false" size="28" maxlength="255"
					value="{{form.email}}"></input>
			</div>

			<!-- Comments -->
			<div class="form__field">
				<label class="form__label" for="inquiry">
					Tell us why you need early access.
					There's no shame in bragging a little.
				</label>
				<textarea
					id="inquiry" name="inquiry"
					spellcheck="true" rows="7" cols="50">{{form.inquiry}}</textarea>
			</div>

			<!-- Name: First, Last -->
			<div class="form__field">
				<label class="form__label" for="first_name">Name</label>
				<div class="form__subfield form__subfield--first">
					<input class="form__text-input"
						id="first_name" name="first_name"
						size="28" maxlength="255"
						value="{{form.firstName}}"></input>
					<label class="form__label" for="first_name">First</label>
				</div>
				<div class="form__subfield">
					<input class="form__text-input"
						id="last_name" name="last_name"
						size="28" maxlength="255"
						value="{{form.lastName}}"></input>
					<label class="form__label" for="last_name">Last</label>
				</div>
			</div>

			<!-- Buttons -->
			<div class="form__buttons">
				<input id="save_contact_form" name="save_contact_form" class="cta-button" type="submit" value="Submit">
			</div>
		</form>
	</section>
	{{> rainbow_page_break}}
	</article>
</body>
</html>
